body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.attribute-panel {
  float: left;
  width: 50%;
}

.html-box {
  float: right;
  width: 50%;
}

.html-box-text-area {
  width: 100%;
  height: 43vh;
}

.html-highlighter {
  height: 43vh;
}

.html-uri {
  width: 100%;
}

.page-tab-content {
  margin-top: 10px;
  margin-left: 10px;
}

textarea {
  resize: none;
} 

.popover{
  z-index: 2060 !important;
}

